= javascript_include_tag 'jquery.simulate.drag-sortable.js' if Rails.env.test?
#life-plan.contentpane
  %ul.accordion-tabs-minimal
    %li.tab-header-and-content
      %a#visions-tab.tab-link.is-active{:href => "#"} Visions
      .tab-content
        .container
          - @life_areas.each do |life_area|
            .vision_container{id: "vision_#{life_area.name}"}
              %h2.life-area
                %i.fa{class: "#{life_area.icon}"}
                = life_area.name.titleize
              .identity= best_in_place life_area, :identity, place_holder: '<span class="empty">(identity)</span>'
              .vision= best_in_place life_area, :vision, place_holder: '<span class="empty">(vision)</span>'
              .purpose= best_in_place life_area, :purpose, place_holder: '<span class="empty">(purpose)</span>'
    %li.tab-header-and-content
      %a#goals-tab.tab-link{:href => "#"} Goals
      .tab-content
        .container
          - @goals.each do |term, goals|
            %h2.term{class: term.name}= term.name
            %ol
              - goals.each do |goal|
                %li.goal{id: "goal_#{goal.id}"}
                  %i.goal-icon.fa{class: "#{goal.life_area.icon}"}
                  = best_in_place goal, :description
                  = link_to goal_path(goal), method: :delete, id: "goal_#{goal.id}", class: 'delete-goal-link' do
                    %i.fa.fa-close
                  = link_to complete_goal_path(goal), method: :post, id: "goal_#{goal.id}_complete", class: 'complete-goal-link' do
                    %i.fa.fa-check-circle-o
          = link_to new_goal_path, id: 'create-goal-link' do
            %button Add
