#projects.contentpane
  .container
    - @projects.each do |project|
      .project
        = link_to project_path(project) do
          .name= project.name
        = link_to project_path(project), method: :delete do
          %i.fa.fa-close
        .description= project.description
    = link_to new_project_path, id: 'create-project-link', class: 'project' do
      .name Create A New Project
      .description +

= render partial: 'nav'

