#projects.contentpane
  .container
    - @projects.each do |project|
      = link_to project_path(project) do
        .project
          .name= project.name
          .description= project.description
    = link_to new_project_path, id: 'create-project-link' do
      .project
        .name Create A New Project
        .description +

= render partial: 'nav'

