= render partial: 'nav'

#show-project.contentpane
  = link_to projects_path, id: 'return-link' do
    %i.fa.fa-angle-double-left
  %h1= @project.name
  .description= @project.description

  %h2 Links
  .links
    - @project.snippets.each do |snippet|
      .link
        .title= snippet.title
        .excerpt= snippet.excerpt
        %i.fa.fa-close
  #add-link-link 
    = link_to new_project_snippet_path(@project) do
      %i.fa.fa-plus
      Add