#show-project.contentpane
  = link_to projects_path, id: 'return-link' do
    %i.fa.fa-angle-double-left
  %h1= best_in_place @project, :name
  .description= best_in_place @project, :description

  - @project.sections.each do |section|
    %h2.section{id: "section#{section.id}"}
      = best_in_place [@project, section], :name
      = link_to project_section_path(@project, section), name: 'delete-link', method: 'delete' do
        %i.fa.fa-close
    = render partial: section.section_type, locals: {project: @project, section: section}

  #add-section-link
    = link_to new_project_section_path(@project) do
      %i.fa.fa-plus
      Add Section