#media.contentpane
  %h2 Links
  .links
    - @links.each do |link|
      .link
        .title= link_to link.title, url_with_protocol(link.url), target: '_blank'
        .excerpt= link.excerpt
        = link_to link_path(link), name: 'delete-link', method: 'delete' do
          %i.fa.fa-close
        .age= time_ago_in_words(link.created_at)
  #add-link-link 
    = link_to new_link_path do
      %i.fa.fa-plus
      Add