= javascript_include_tag 'jquery.simulate.drag-sortable.js' if Rails.env.test?
#goals.contentpane
  .container
    %ol
      - @goals.each do |goal|
        %li.goal{id: "goal_#{goal.id}"}
          %i.fa.fa-sort
          = goal.description
          = link_to goal_path(goal), method: :delete, id: "goal_#{goal.id}", class: 'delete-goal-link' do
            %i.fa.fa-close

    = link_to new_goal_path, id: 'create-goal-link' do
      %button Add