#create-goal.contentpane
  = form_for @goal do |f|
    .field
      = f.label :description
      = f.text_field :description
      = f.label :life_area
      = f.collection_select :life_area, LifeArea.all, :id, :name
    = f.submit 'Create'

  #smart-guidelines
    .tooltip-item
      Specific
      .tooltip Who, what, where, which
    .tooltip-item
      Measurable
      .tooltip How many, how much, quantifiable indicators
    .tooltip-item
      Attainable
      .tooltip How it is accomplished, How realistic it is
    .tooltip-item
      Relevant
      .tooltip Is this the right time, am I the right person, is it worthwhile
    .tooltip-item
      Timely
      .tooltip When, What can I do today
