!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title worldnamer
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Gruppo|Source+Sans+Pro'
    = favicon_link_tag
  %body
    #flash
      - if flash[:notice]
        %p.notice= notice
      - if flash[:alert]
        %p.alert= alert
      - if flash[:error]
        %p.error= error
    = yield
    = render partial: 'nav'